@model RecipeListViewModel
@using Organizer_przepisów_kulinarnych.DAL.Entities.Enums

<form id="filterForm" method="get">
    @if (Context.Request.RouteValues["controller"]?.ToString() == "Recipe" && Context.Request.RouteValues["action"]?.ToString() == "Category")
    {
        <input type="hidden" name="name" value="@Context.Request.Query["name"]" />
    }
    <label class="mt-3">Sortowanie:</label>
    <select name="SortOption" id="sortOption" class="form-select" onchange="cleanDefaultSortAndSubmit()">
        <option value="None" selected="@(Model.Filters.SortOption == RecipeSortOption.None)">Trafność</option>
        <option value="Newest" selected="@(Model.Filters.SortOption == RecipeSortOption.Newest)">Najnowsze</option>
        <option value="Popularity" selected="@(Model.Filters.SortOption == RecipeSortOption.Popularity)">Popularne</option>
    </select>

    <label class="form-label">Czas przygotowania:</label>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="FilterUnder30" value="true"
        @(Model.Filters.FilterUnder30 ? "checked" : "") onchange="cleanDefaultSortAndSubmit()" />
        <label class="form-check-label">Do 30 min</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="FilterBetween30And60" value="true"
        @(Model.Filters.FilterBetween30And60 ? "checked" : "") onchange="cleanDefaultSortAndSubmit()" />
        <label class="form-check-label">30–60 min</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="FilterOver60" value="true"
        @(Model.Filters.FilterOver60 ? "checked" : "") onchange="cleanDefaultSortAndSubmit()" />
        <label class="form-check-label">Powyżej 60 min</label>
    </div>
</form>

<script>
    function cleanDefaultSortAndSubmit() {
        const sortSelect = document.getElementById('sortOption');
        if (sortSelect.value === "None") {
            sortSelect.removeAttribute("name");
        }
        document.getElementById('filterForm').submit();
    }

    const currentUrl = new URL(window.location.href);
    const categoryParam = currentUrl.searchParams.get('name');
    if (categoryParam) {
        document.getElementById('filterForm').action = `${currentUrl.origin}${currentUrl.pathname}?name=${categoryParam}`;
    }
</script>
