@model RecipeViewModel

<div class="recipe-card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg"
         alt="Recipe image" class="recipe-img" />
    
    <div class="card-body">
        <h5>@Model.RecipeName</h5>
        <p>Czas przygotowania: @Model.Preptime min</p>
        
        <a href="@Url.Action("Details", "Recipe", new { id = Model.Id })" class="btn btn-custom-green mb-2">
            Zobacz przepis
        </a>
        
        @await Html.PartialAsync("_FavoriteToggle", Model)

        @if (Model.IsUserRecipe)
        {
            <a asp-controller="Recipe" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mt-2">
                Edytuj przepis
            </a>
            <form asp-action="Delete" asp-route-id="@Model.Id" method="post"
                  onsubmit="return confirm('Czy na pewno chcesz usunąć ten przepis?');">
                <button type="submit" class="btn btn-danger mt-2">Usuń</button>
            </form>
        }
    </div>
</div>
